<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TP_DB_ELECCIONES</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TP_DB_ELECCIONES.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
    <nav>
      <ul>
        <li><a href='@Url.Action("Index")'><img src=/Imagenes/Ban.png></a></li>
        <li><a href='@Url.Action("Elecciones")'>Elecciones 2023</a> </li>
        <li><a href='@Url.Action("Creditos")'> Creditos</a></li>
      </ul>
    </nav>
  </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
